<footer class="container">
  <section id="footerLinks" class="my-3">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-2">
        <ul class="list-unstyled">
          <li>
            <a href="#">{{"Countries"|translate}}</a>
          </li>
          <li>
            <a href="#">{{"Regions"|translate}}</a>
          </li>
          <li>
            <a href="#">{{"Cities"|translate}}</a>
          </li>
          <li>
            <a i18n href="#"> {{"Districts"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Airports"|translate}}</a>
          </li>
          <li>
            <a href="#">{{"Hotels"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Places of interest"|translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="list-unstyled">
          <li>
            <a href="#"> {{"Homes"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Apartments"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Resorts"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Villas"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Hostels"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"B&Bs"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Guest houses"|translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="list-unstyled">
          <li>
            <a href="#"> {{"Unique places to stay"|translate}}</a>
          </li>
          <li>
            <a href="../Reviews/index2.html"> {{"Reviews"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Unpacked: Travel articles"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Travel Communities"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Seasonal and holiday deals"|translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="list-unstyled">
          <li>
            <a href="#"> {{"Car hire"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Flight finder"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Restaurant reservations"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Booking.com for Travel Agents"|translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="list-unstyled">
          <li>
            <a href="#"> {{"Coronavirus (COVID-19) FAQs"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"About Booking.com"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Customer Service Help"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Partner help"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Careers"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Sustainability"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Press Center"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Safety Resource Center"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Investor relations"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Terms & Conditions"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Partner dispute"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"How We Work"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Privacy & cookie statement"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"MSA statement"|translate}}</a>
          </li>
          <li>
            <a href="#"> {{"Corporate contact"|translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="mt-4">
    <div class="text-center">
      <a href="#" class="text-decoration-none">Extranet login</a>
    </div>
    <div class="my-4 ps-5">
      <p class="fw-light">
        Copyright &copy; 1996-2023 Booking.com&trade;. All rights reserved.
      </p>
    </div>
    <div class="my-1 text-center">
      <p class="text-muted fw-light">
        Booking.com is part of Booking Holdings Inc., the world leader in online travel and related
        services.
      </p>
    </div>
    <div class="my-2 text-center">
      <ul class="list-inline">
        <li class="list-inline-item">
          <img src="../../shared/booking-logo.png" width="96" height="26" />
        </li>
        <li class="list-inline-item">
          <img src="../../shared/priceline-logo.png" width="96" height="26" />
        </li>
        <li class="list-inline-item">
          <img src="../../shared/kayak-logo.png" width="96" height="26" />
        </li>
        <li class="list-inline-item">
          <img src="../../shared/agoda-logo.png" width="96" height="26" />
        </li>
        <li class="list-inline-item">
          <img src="../../shared/rentalcars-logo.png" width="96" height="26" />
        </li>
        <li class="list-inline-item">
          <img src="../../shared/opentable-logo.png" width="96" height="26" />
        </li>
      </ul>
    </div>
  </section>
</footer>