@using BookingClone.Application.Features.RoomFeatures.DTOs;
@using BookingClone.Domain.Enums;
@model AddRoomDto
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3 bg-white">
        <div class="form-group row">
            <h2 class="text-info ps-3">Create new Room</h2>
        </div>
        <div class="row">
            <div class="col-8">

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="RoomNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RoomNumber" class="form-control" />
                        <span asp-validation-for="RoomNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control"  />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="IsAvailable"></label>
                    </div>
                    <div class="col-8">
                        <div class="form-check">
                            <input asp-for="IsAvailable" class="form-check-input">
                            <span asp-validation-for="IsAvailable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                 <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="BedCount"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="BedCount" class="form-control"  />
                        <span asp-validation-for="BedCount" class="text-danger"></span>
                    </div>
                </div>
              
                 <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ViewType"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ViewType" asp-items="Html.GetEnumSelectList<RoomViewType>()" class="form-control"></select>
                        <span asp-validation-for="ViewType" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="HotelId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HotelId" class="form-control"  />
                        <span asp-validation-for="HotelId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-check-circle"></i>
                                Create
                            </button>
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>